absl-py==0.15.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.4.0
clang==5.0
class-resolver==0.6.0
click==8.1.7
contourpy==1.3.0
cycler==0.12.1
datasets==3.6.0
deepctr==0.9.3
dill==0.3.8
evaluate==0.4.4
fastdtw==0.3.4
filelock==3.18.0
flatbuffers==1.12
fonttools==4.57.0
frozenlist==1.5.0
fsspec==2024.10.0
gast==0.4.0
ge==0.0.0
gensim==4.3.3
google-pasta==0.2.0
grpcio==1.71.0
h5py==3.7.0
hf-xet==1.1.5
huggingface-hub==0.33.1
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
install-jdk==1.1.0
javalang==0.13.0
Jinja2==3.1.4
joblib==1.4.2
keras==2.15.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
libclang==18.1.1
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
mdurl==0.1.2
ml_dtypes==0.5.1
multidict==6.1.0
namex==0.0.8
networkx==3.2.1
nltk==3.9.1
numpy==1.26.4
opt-einsum==3.3.0
optree==0.15.0
packaging==25.0
pandas==2.2.3
pillow==11.0.0
propcache==0.2.0
protobuf==5.29.4
psutil==6.1.0
pyarrow==20.0.0
pyenchant==3.2.2
Pygments==2.19.1
pyparsing==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
rich==14.0.0
rouge_score==0.1.2
safetensors==0.5.3
scikit-learn==1.5.2
scipy==1.13.1
sentencepiece==0.2.0
six==1.15.0
smart-open==7.1.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==1.1.0
threadpoolctl==3.5.0
tokenizers==0.21.2
torch==1.11.0+cu113
torch_geometric==2.0.4
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tqdm==4.66.6
transformers==4.53.0
tree_sitter==0.20.0
typing_extensions==4.14.0
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.1.3
wrapt==1.12.1
xxhash==3.5.0
yarl==1.17.1
zipp==3.21.0
